[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ kube_apiserver_bin_dir }}/kube-apiserver \
  --admission-control=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --advertise-address={{ gce_private_ip }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{ kube_apiserver_data_dir }}/ca.pem \
  --enable-swagger-ui=true \
  --etcd-cafile={{ kube_apiserver_data_dir }}/ca.pem \
  --etcd-certfile={{ kube_apiserver_data_dir }}/kubernetes.pem \
  --etcd-keyfile={{ kube_apiserver_data_dir }}/kubernetes-key.pem \
  --etcd-servers={% for host in etcd_cluster_hosts -%} 
        {{ hostvars[host].inventory_hostname }}=https://{{ hostvars[host].gce_private_ip }}:{{ hostvars[host].kubernetes_etcd_client_port | default(kubernetes_etcd_client_port) }},
    {%- endfor %} \
  --event-ttl=1h \
  --experimental-encryption-provider-config={{ kube_apiserver_data_dir }}/encryption-config.yaml \
  --insecure-bind-address=127.0.0.1 \
  --kubelet-certificate-authority={{ kube_apiserver_data_dir }}/ca.pem \
  --kubelet-client-certificate={{ kube_apiserver_data_dir }}/kubernetes.pem \
  --kubelet-client-key={{ kube_apiserver_data_dir }}/kubernetes-key.pem \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file={{ kube_apiserver_data_dir }}/ca-key.pem \
  --service-cluster-ip-range={{ kubernetes_cluster_ip_range }} \
  {# TODO port range form variable #}
  --service-node-port-range=30000-32767 \
  --tls-ca-file={{ kube_apiserver_data_dir }}/ca.pem \
  --tls-cert-file={{ kube_apiserver_data_dir }}/kubernetes.pem \
  --tls-private-key-file={{ kube_apiserver_data_dir }}/kubernetes-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target